<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOJ2mx83FaQo1-FlGjhrx-EPwQhuK9mYg</string>
	<key>GCM_SENDER_ID</key>
	<string>459412259648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utecportal.portalutec.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-38802</string>
	<key>STORAGE_BUCKET</key>
	<string>test-38802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459412259648:ios:967e39d893ac2ce7d4b0a5</string>
</dict>
</plist>